{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Profile registration{% endblock %}

{% block body_block %}

    {% if registered %}
        Blog says: <strong>thank you for registering!</strong>
        <a href="/blog/">Return to the homepage.</a><br />
    {% else %}

        <form id="user_form" method="post" action="."
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The s_p method wraps each element in a paragraph
                 (<p>) element. This ensaures each element appears on a new line,
                 making everything look neater. -->

            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}

{% endblock %}